.section-map {
    padding: 180px 0;
    position: relative;

    &::after{
        content: "V";
      
        right: calc(50% + 550px);
        transform: translate(50%, 0%);
        
        @include decoration;
        top: 180px;
    }
}

.map__title {
    margin-bottom: 88px;
}
.map__google-map {
    

}
.map {
    height: 358px;
    background: #626262;
}