@import './fonts';

body {
    font-family: $font-main;
    background-color: $dark;
    color: $white;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}

.none {
    display: none !important;
}
.title{
    font-size: 36px;
    font-family: $font-accent;
    font-weight: 700;
    color: $accent;

    @include mediaTablet {
        font-size: 28px;
    }
}
.link-email{
    color: $accent !important;
    font-weight: 700;
}
.no-scroll {
    overflow-y: hidden;
}